{% extends "new_base.html" %}

{% block title %}
Add New Status
{% endblock %}

{% block content %}
<div class="my-3 p-3 bg-white rounded box-shadow">
    <!-- Form Title -->
    <div class="box-header with-border">
        <h3 class="box-title">Add New Status</h3>
    </div>
    <!-- Form Starts here -->
    <form class="form-horizontal" role="form" method="POST">
        <div class="box-body">
            <!-- Status Code -->
            <div class="form-group">
                <label class="col-sm-2 control-label">Status Code</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control form-control-sm" name="code">
                </div>
            </div>
            <!-- Status Name -->
            <div class="form-group">
                <label class="col-sm-2 control-label">Status Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control form-control-sm" name="name">
                </div>
            </div>
            <!-- Notes / Additional info -->
            <div class="form-group">
                <label class="col-sm-2 control-label">Notes / Remarks</label>
                <div class="col-sm-10">
                    <textarea class="form-control form-control-sm" name="notes" rows="5" placeholder="Enter ..."></textarea>
                </div>
            </div>
            <!-- Save / Cancel -->
            <div class="box-footer">
                <button type="submit" class="btn btn-outline-secondary">Cancel</button>
                <button type="submit" class="btn btn-outline-primary float-right">Save</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}