{% extends "base.html" %}

{% block content %}
<h1>
    Add New Asset
</h1>

<form role="form" method="POST">
    Barcode:<br>
        <input type="text" id="barcode" name="barcode"><br>
    Serial No:<br>
        <input type="text" id="serial_no" name="serial_no"><br>
    Name:<br>
        <input type="text" id="name" name="name"><br>
    Category:<br>
        <input type="text" id="category" name="category"><br>
    Type:<br>
        <input type="text" id="_type" name="_type"><br>
    Model:<br>
        <input type="text" id="_model" name="_model"><br>
    Status:<br>
        <input type="text" id="status" name="status"><br>
    Location:<br>
        <input type="text" id="location" name="location"><br>
    User:<br>
        <input type="text" id="user" name="user"><br>
    Purchase price:<br>
        <input type="text" id="purchase_price" name="purchase_price"><br>
    Supplier:<br>
        <input type="text" id="supplier" name="supplier"><br>
    Comments:<br>
        <textarea type="text" id="comments" name="comments" rows="10" cols="40">{{comments}}</textarea>
    <br>
    <input type="submit" value="Submit">
</form>
{% endblock %}