{% extends "bootstrap/base.html" %}

{% block content %}
<div class="my-3 p-3 bg-white rounded box-shadow">
    <!-- Form Title -->
    <div class="box-header with-border">
        <h3 class="box-title">Add New Asset</h3>
    </div>
    <!-- Form Starts here -->
    <form class="form-horizontal" role="form" method="POST">
        <div class="box-body">
            <!-- Barcode entry -->
            <div class="form-group">
                <label class="col-sm-2 control-label">Barcode</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control form-control-sm" name="barcode">
                </div>
            </div>
            <!-- Serial No. entry -->
            <div class="form-group">
                <label class="col-sm-2 control-label">Serial No:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control form-control-sm" name="serial_no">
                </div>
            </div>
            <!--Asset Name entry  -->
            <div class="form-group">
                <label class="col-sm-2 control-label">Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control form-control-sm" name="name">
                </div>
            </div>
            <!-- Asset Category entry -->
            <div class="form-group">
                <label class="col-sm-2 control-label">Category</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control form-control-sm" name="category">
                </div>
            </div>
            <!-- Asset Type entry -->
            <div class="form-group">
                <label class="col-sm-2 control-label">Type</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control form-control-sm" name="_type">
                </div>
            </div>
             <!-- Asset Model entry -->
             <div class="form-group">
                <label class="col-sm-2 control-label">Model</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control form-control-sm" name="_model">
                </div>
            </div>
            <!-- Asset Status entry -->
            <div class="form-group">
                <label class="col-sm-2 control-label">Status</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control form-control-sm" name="status">
                </div>
            </div>
            <!-- Asset Location entry -->
            <div class="form-group">
                <label class="col-sm-2 control-label">Location</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control form-control-sm" name="location">
                </div>
            </div>
            <!-- Asset Cost Center -->
            <div class="form-group">
                <label class="col-sm-2 control-label">Cost Center</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control form-control-sm" name="cost_center">
                </div>
            </div>
            <!-- Asset User entry -->
            <div class="form-group">
                <label class="col-sm-2 control-label">Asset User</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control form-control-sm" name="user">
                </div>
            </div>
            <!-- Asset Supplier entry -->
            <div class="form-group">
                <label class="col-sm-2 control-label">Asset Supplier</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control form-control-sm" name="supplier">
                </div>
            </div>
            <!-- Purchase Price entry -->
            <div class="form-group">
                <label class="col-sm-2 control-label">Purchase Price</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control form-control-sm" name="purchase_price">
                </div>
            </div>
            <!-- Comments / Additional info -->
            <div class="form-group">
                <label class="col-sm-2 control-label">Comments / Remarks</label>
                <div class="col-sm-10">
                    <textarea class="form-control form-control-sm" name="comments" rows="5" placeholder="Enter ..."></textarea>
                </div>
            </div>
            <!-- Save / Cancel -->
            <div class="box-footer">
                <button type="submit" class="btn btn-outline-secondary">Cancel</button>
                <button type="submit" class="btn btn-outline-primary float-right">Save</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}