{% extends "new_base.html" %}

{% block title %}
Add New Asset
{% endblock %}

{% block content %}
<div class="my-3 p-3 bg-white rounded box-shadow">
    <!-- Form Title -->
    <div class="box-header with-border">
        <h3 class="box-title">Add New Asset</h3>
    </div>
    <!-- Form Starts here -->
    <form class="form-horizontal" role="form" method="POST">
        <div class="box-body">
            <!-- Barcode entry -->
            <div class="form-group">
                <label class="col-sm-2 control-label">Barcode</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control form-control-sm" name="barcode" required>
                </div>
            </div>
            <!-- Serial No. entry -->
            <div class="form-group">
                <label class="col-sm-2 control-label">Serial No:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control form-control-sm" name="serial_no" required>
                </div>
            </div>
            <!--Asset Name entry  -->
            <div class="form-group">
                <label class="col-sm-2 control-label">Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control form-control-sm" name="name" required>
                </div>
            </div>
            <!-- Asset Category entry -->
            <div class="form-group">
                <label class="col-sm-2 control-label">Category</label>
                <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref" name="category" required>
                    <option selected></option>
                    {% for category in categories_list %}
                    <option value="{{ category.id }}">{{ category }}</option>
                    <!-- <option></option> -->
                    {% endfor %}
                </select>
            </div>
            <!-- Asset Type entry -->
            <div class="form-group">
                <label class="col-sm-2 control-label">Type</label>
                <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref" name="_type" required>
                    <option selected></option>
                    {% for _type in types_list %}
                    <!-- <option value="{{ _type.id }}">{{ _type }}</option> -->
                    <option></option>
                    {% endfor %}
                </select>
            </div>
             <!-- Asset Model entry -->
             <div class="form-group">
                <label class="col-sm-2 control-label">Model</label>
                <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref" name="_model" required>
                    <option selected></option>
                    {% for model in models_list %}
                    <!-- <option value="{{ model.id }}">{{ model }}</option> -->
                    <option></option>
                    {% endfor %}
                </select>
            </div>
            <!-- Asset Status entry -->
            <div class="form-group">
                <label class="col-sm-2 control-label">Status</label>
                <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref" name="status" required>
                    <option selected></option>
                    {% for status in statuses_list %}
                    <option value="{{ status.id }}">{{ status }}</option>
                    {% endfor %}
                </select>
            </div>
            <!-- Asset Condition entry -->
            <div class="form-group">
                <label class="col-sm-2 control-label">Condition</label>
                <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref" name="condition" required>
                    <option selected></option>
                    {% for condition in conditions_list %}
                    <option value="{{ condition.id }}">{{ condition }}</option>
                    {% endfor %}
                </select>
            </div>
            <!-- Asset Location entry -->
            <div class="form-group">
                <label class="col-sm-2 control-label">Location</label>
                <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref" name="location" required>
                    <option selected></option>
                    {% for location in locations_list %}
                    <option value="{{ location.id }}">{{ location }}</option>
                    {% endfor %}
                </select>
            </div>
            <!-- Asset Cost Center -->
            <div class="form-group">
                <label class="col-sm-2 control-label">Cost Center</label>
                <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref" name="cost_center" required>
                    <option selected></option>
                    {% for costcenter in costcenters_list %}
                    <option value="{{ costcenter.id }}">{{ costcenter }}</option>
                    {% endfor %}
                </select>
            </div>
            <!-- Asset User entry -->
            <div class="form-group">
                <label class="col-sm-2 control-label">Asset User</label>
                <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref" name="user" required>
                    <option selected></option>
                    {% for user in users_list %}
                    <option value="{{ user.id }}">{{ user }}</option>
                    {% endfor %}
                </select>
            </div>
            <!-- Asset Supplier entry -->
            <div class="form-group">
                <label class="col-sm-2 control-label">Asset Supplier</label>
                <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref" name="supplier" required>
                    <option selected></option>
                    {% for supplier in suppliers_list %}
                    <option value="{{ supplier.id }}">{{ supplier }}</option>
                    {% endfor %}
                </select>
            </div>
            <!-- Purchase Price entry -->
            <div class="form-group">
                <label class="col-sm-2 control-label">Purchase Price</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control form-control-sm" name="purchase_price">
                </div>
            </div>
            <!-- Purchase Date entry -->
            <div class="form-group">
                    <label class="col-sm-2 control-label">Date of Purchase</label>
                    <div class="col-sm-10">
                        <input type="date" class="form-control form-control-sm" name="purchase_date">
                    </div>
                </div>
            <!--Purchase Ref; Invoice, Reciept etc  -->
            <div class="form-group">
                <label class="col-sm-2 control-label">Ref No.</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control form-control-sm" name="ref_no">
                </div>
            </div>
            <!-- Notes / Additional info -->
            <div class="form-group">
                <label class="col-sm-2 control-label">Notes / Remarks</label>
                <div class="col-sm-10">
                    <textarea class="form-control form-control-sm" name="notes" rows="5" placeholder="Enter ..."></textarea>
                </div>
            </div>
            <!-- Save / Cancel -->
            <div class="box-footer">
                <button type="reset" class="btn btn-outline-secondary">Cancel</button>
                <button type="submit" class="btn btn-outline-primary float-right">Save</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}

{% block script %}

<script type="text/javascript">
    var category_select = document.getElementsByName('category')[0];
    var type_select = document.getElementsByName('_type')[0];
    var model_select = document.getElementsByName('_model')[0];

    category_select.onchange = function() {
        category = category_select.value;
        
        fetch('/register/add_asset_types_dropdown/' + category).then(function(response){
            response.json().then(function(data) {
                OptionHTML = '';
                
                for (let _type of data.asset_types) {
                    OptionHTML += '<option value="' + _type.id + '">' +  _type.type_name + '</option>';
                }

                type_select.innerHTML = OptionHTML;

            });
        });
    }

    type_select.onchange = function() {
        _type = type_select.value;
        
        fetch('/register/add_asset_models_dropdown/' + _type).then(function(response){
            response.json().then(function(data) {
                OptionHTML = '';
                
                for (let _model of data.asset_models) {
                    OptionHTML += '<option value="' + _model.id + '">' +  _model.model_name + '</option>';
                }

                model_select.innerHTML = OptionHTML;

            });
        });
    }
</script>

{% endblock script %}