{% import "macros.html" as macros %}
{% extends "base.html" %}
{% block content %}

{% for asset in assets_register %}
{{ macros.render_asset(asset) }}
{% endfor %}

<ul class="pager">
    {% if next_page %}
    <li class="previous" >
    <a href="{{ url_for('assets_register', page=page + 1) }}">&larr; Next page</a>
    </li>
    {% endif %}
    {% if prev_page %}
    <li class="next">
    <a href="{{ url_for('assets_register', page=page - 1) }}">&rarr; Previous page</a>
    </li>
    {% endif %}
</ul>

{% endblock %}