<html>
    <head>
        <title>{% block page_title %}{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, intial-scale=1.0">
    
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/offcanvas.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/navbar.css') }}">

        <!-- Personal additions -->
        <!-- Bootstrap core CSS -->
        <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="navbar.css" rel="stylesheet">

        <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
        <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
        <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

        {% block header_includes %}
        {% endblock %}

        <style></style>
    </head>
    
    <body>
        <!-- Header area for logo, menu, messages and user info -->
        {% block navbar %}

        {% endblock navbar %}
        <!-- content area for graphs, search, register table and related context menus -->
        {% block content %}

        {% endblock content %}
        <!-- footer content area -->
        <footer>
        {% block footer_content %}

        {% endblock %}
        </footer>
        <!-- all links to scripts -->
        <script src="../../assets/js/ie-emulation-modes-warning.js"></script>
        <script></script>
    </body>
</html>