{% extends "base.html" %}

{% block content %}
<h1>
    Edit Asset
</h1>

<form role="form" method="POST">
    <div class="form-group">
        <label for="title">Barcode</label><input type="text" class="form-control" id="barcode" name="barcode" placeholder="Enter Barcode" value="{{barcode}}">
    </div>
    <div class="form-group">
        <label for="title">Serial No.</label><input type="text" class="form-control" id="serial" name="serial" placeholder="Enter Serial No." value="{{serial_no}}">
    </div>
    <div class="form-group">
        <label for="title">Name</label><input type="text" class="form-control" id="name" name="name" placeholder="Enter Asset Name" value="{{name}}">
    </div>
    <div class="form-group">
        <label for="title">Category</label><input type="number" class="form-control" id="category" name="category" placeholder="Enter Asset Category" value="{{category}}">
    </div>
    <div class="form-group">
        <label for="title">Type</label><input type="number" class="form-control" id="_type" name="_type" placeholder="Enter Asset Type" value="{{_type}}">
    </div>
    <div class="form-group">
        <label for="title">Model</label><input type="number" class="form-control" id="_model" name="_model" placeholder="Enter Asset Model" value="{{_model}}">
    </div>
    <div class="form-group">
        <label for="title">Status</label><input type="number" class="form-control" id="status" name="status" placeholder="Enter Asset Status" value="{{status}}">
    </div>
    <div class="form-group">
        <label for="title">Location</label><input type="number" class="form-control" id="location" name="location" placeholder="Enter Asset Location" value="{{location}}">
    </div>
    <div class="form-group">
        <label for="title">User</label><input type="number" class="form-control" id="user" name="user" placeholder="Enter Asset User" value="{{user}}">
    </div>
    <div class="form-group">
        <label for="title">Purchase Price</label><input type="number" class="form-control" id="purchase_price" name="purchase_price" placeholder="Enter Purchase Price" value="{{purchase_price}}">
    </div>
    <div class="form-group">
        <label for="title">Value</label><input type="number" class="form-control" id="value" name="value" placeholder="Enter Asset Value" value="{{value}}">
    </div>
    <div class="form-group">
        <label for="title">Supplier</label><input type="number" class="form-control" id="supplier" name="supplier" placeholder="Enter Supplier" value="{{supplier}}">
    </div>
    <div class="form-group">
        <label for="title">Photo</label><input type="text" class="form-control" id="photo" name="photo" placeholder="Enter Photo" value="{{photo}}">
    </div>
    <div class="form-group">
        <label for="content">Comments</label>
        <textarea class="form-control" id="comments" name="comments" placeholder="Entry comments" rows="20" required>{{comments}}</textarea>
    </div>
    <button type="submit" class="btn btn-default">Update Asset</button>
</form>
{% endblock %}