% extends "new_base.html" %}

{% block title %}
Edit Asset - {{barcode}}
{% endblock %}

{% block content %}
<h3>
    Edit Asset - {{barcode}}
</h3>

<form role="form" method="POST">
    ID: <br>
        <input type="text" id="id" name="id" value="{{id}}" readonly>
        <br>
    Barcode:<br>
            <input type="text" id="barcode" name="barcode" value="{{barcode}}">
            <br>
    Serial No:<br>
        <input type="text" id="serial_no" name="serial_no" value="{{serial_no}}"><br>
    Name:<br>
        <input type="text" id="name" name="name" value="{{name}}"><br>
    Category:<br>
        <select name="category">
            <option selected>{{category}}</option>
            {% for update in categories_list %}
            <option value="{{ update.id }}">{{ update }}</option>
            {% endfor %}
        </select>
        <br>
    Type:<br>
        <select name="_type">
            <option selected>{{_type}}.</option>
            {% for update in types_list %}
            <option value="{{ update.id }}">{{ update }}</option>
            {% endfor %}
        </select>
        <br>
    Model:<br>
        <select name="_model">
            <option selected>{{_model}}</option>
            {% for update in models_list %}
            <option value="{{ update.id }}">{{ update }}</option>
            {% endfor %}
        </select>
        <br>
    Status:<br>
        <select name="status">
            <option selected>{{status}}</option>
            {% for update in statuses_list %}
            <option value="{{ update.id }}">{{ update }}</option>
            {% endfor %}
        </select>
        <br>
    Location:<br>
            <select name="location">
                <option selected>{{location}}</option>
                {% for update in locations_list %}
                <option value="{{update.id}}">{{ update }}</option>
                {% endfor %}
            </select>
            <br>
    Cost Center:<br>
            <select name="cost_center">
                <option selected>{{cost_center}}</option>
                {% for update in costcenters_list %}
                <option value="{{update.id}}">{{ update }}</option>
                {% endfor %}
            </select>
            <br>
    User:<br>
        <select name="user">
            <option selected>{{user}}</option>
            {% for update in users_list %}
            <option value="{{update.id}}">{{ update }}</option>
            {% endfor %}
        </select>
        <br>
    Purchase price:<br>
        <input type="text" id="purchase_price" name="purchase_price" value="{{purchase_price}}"><br>
    Value:<br>
        <input type="text" id="value" name="value" value="{{value}}"><br>
    Supplier:<br>
            <select name="supplier">
                <option selected>{{supplier}}</option>
                {% for update in suppliers_list %}
                <option value="update.id">{{ update }}</option>
                {% endfor %}
            </select>
            <br>
    Photo:<br>
        <input type="text" id="photo" name="photo" value="{{photo}}"><br>
    Notes:<br>
        <textarea type="text" id="notes" name="notes" rows="10" cols="40">{{notes}}</textarea>
    <br>
    <input type="submit" value="Submit">
</form>
{% endblock %}