{% extends "bootstrap/base.html" %}

{% block title %}
Edit Asset Details
{% endblock %}

{% block content %}
<h3>
    Edit Asset
</h3>

<form role="form" method="POST">
    ID:<br>
        <input type="text" id="id" name="id" value="{{id}}" readonly><br>
    Barcode:<br>
        <input type="text" id="barcode" name="barcode" value="{{barcode}}"><br>
    Serial No:<br>
        <input type="text" id="serial_no" name="serial_no" value="{{serial_no}}"><br>
    Name:<br>
        <input type="text" id="name" name="name" value="{{name}}"><br>
    Category:<br>
        <input type="text" id="category" name="category" value="{{category}}"><br>
    Type:<br>
        <input type="text" id="_type" name="_type" value="{{_type}}"><br>
    Model:<br>
        <input type="text" id="_model" name="_model" value="{{_model}}"><br>
    Status:<br>
        <input type="text" id="status" name="status" value="{{status}}"><br>
    Location:<br>
        <input type="text" id="location" name="location" value="{{location}}"><br>
    Cost Center:<br>
        <input type="text" id="cost_center" name="cost_center" value="{{cost_center}}"><br>
        User:<br>
        <input type="text" id="user" name="user" value="{{user}}"><br>
    Purchase price:<br>
        <input type="text" id="purchase_price" name="purchase_price" value="{{purchase_price}}"><br>
    Value:<br>
        <input type="text" id="value" name="value" value="{{value}}"><br>
    Supplier:<br>
        <input type="text" id="supplier" name="supplier" value="{{supplier}}"><br>
    Photo:<br>
        <input type="text" id="photo" name="photo" value="{{photo}}"><br>
    Notes:<br>
        <textarea type="text" id="notes" name="notes" rows="10" cols="40">{{notes}}</textarea>
    <br>
    <input type="submit" value="Submit">
</form>
{% endblock %}