<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>ArcApp User Login</title>
		<!-- <link rel="stylesheet" href="style.css"> -->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
	</head>
	<body>
		<div class="loginBox">
			<img src="{{ url_for('static', filename='images/user.png') }}" class="user">
			<h2>Login Here</h2>
			<form method="POST">
				<p>User Email</p>
				<input type="text" id="email" name="email" placeholder="Enter email" required>
				<p>Password</p>
				<input type="password" id="password" name="password" placeholder="******" required>
				<input type="submit" name="sign_in" value="Sign In">
			</form>
		</div>
	</body>
</html>