<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>{% block page_title %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <!-- <link href="../../dist/css/bootstrap.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/getbootstrap.com_docs_3.3_dist_css_bootstrap.min.css') }}" />

    <!-- For responsive data tables styling -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/datatables.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/datatables.min.css') }}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css">
    <link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
    <link href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap4.min.css">
    <link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/jszip-2.5.0/dt-1.10.18/b-1.5.2/b-colvis-1.5.2/b-flash-1.5.2/b-html5-1.5.2/b-print-1.5.2/cr-1.5.0/fc-3.2.5/fh-3.1.4/kt-2.4.0/r-2.2.2/rg-1.0.3/rr-1.2.4/sc-1.5.0/sl-1.2.6/datatables.min.css"/>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!-- <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/getbootstrap.com_docs_3.3_assets_css_ie10-viewport-bug-workaround.css') }}" />

    <!-- Custom styles for this template -->
    <!-- <link href="navbar.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}" />

  </head>
  <body>

    <div class="container">
      <!-- Static navbar -->
      {% block navbar %}
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{{ url_for('view_register') }}">ARCPlus</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <!-- <li class="active"><a href="{{ url_for('dashboard') }}">Dashboard</a></li> -->
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Register<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <!-- <li class="dropdown-header">.....</li> -->
                    <li><a href="{{ url_for('create_asset') }}">Add Asset</a></li>
                    <li><a href="{{ url_for('asset_verification') }}">Verification</a></li>
                    <li><a href="{{ url_for('view_register') }}">View Register</a></li>
                    <li class="dropdown-header">Status</li>
                    <li><a href="{{ url_for('create_asset_status') }}">Add Status</a></li>
                    <li><a href="{{ url_for('view_asset_statuses') }}">View Statuses</a></li>
                    <li class="dropdown-header">Conditions</li>
                    <li><a href="{{ url_for('create_asset_condition') }}">Add Condition</a></li>
                    <li><a href="{{ url_for('view_asset_conditions') }}">View Conditions</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Properties<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li class="dropdown-header">Categories</li>
                    <li><a href="{{ url_for('create_asset_category') }}">Add Category</a></li>
                    <li><a href="{{ url_for('view_asset_categories') }}">View Categories</a></li>
                    <li class="dropdown-header">Type</li>
                    <li><a href="{{ url_for('create_asset_type') }}">Add Type</a></li>
                    <li><a href="{{ url_for('view_asset_types') }}">View Types</a></li>
                    <li class="dropdown-header">Model</li>
                    <li><a href="{{ url_for('create_asset_model') }}">Add Model</a></li>
                    <li><a href="{{ url_for('view_asset_models') }}">View Models</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tracking<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li class="dropdown-header">People</li>
                    <li><a href="{{ url_for('create_person') }}">Add Person</a></li>
                    <li><a href="{{ url_for('view_people') }}">View People</a></li>
                    <li class="dropdown-header">Locations</li>
                    <li><a href="{{ url_for('create_location') }}">Add Location</a></li>
                    <li><a href="{{ url_for('view_locations') }}">View Locations</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cost Centers<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <!-- <li class="dropdown-header">.....</li> -->
                    <li><a href="{{ url_for('create_costcenter') }}">Add Cost Center</a></li>
                    <li><a href="{{ url_for('view_costcenters') }}">View Cost Centers</a></li>
                    <li class="dropdown-header">Departments</li>
                    <li><a href="{{ url_for('create_department') }}">Add Department</a></li>
                    <li><a href="{{ url_for('view_departments') }}">View Departments</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Suppliers<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <!-- <li class="dropdown-header">.....</li> -->
                    <li><a href="{{ url_for('create_supplier') }}">Add Supplier</a></li>
                    <li><a href="{{ url_for('view_suppliers') }}">View Suppliers</a></li>
                    <li class="dropdown-header">Supplier Categories</li>
                    <li><a href="{{ url_for('create_supplierCategory') }}">Add Category</a></li>
                    <li><a href="{{ url_for('view_supplierCategories') }}">View Categories</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Reports<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <!-- <li class="dropdown-header">.....</li> -->
                    <li><a href="#">Verification report</a></li>
                    <li><a href="#">Asset Movements</a></li>
                  </ul>
                </li>
                {% if 'Admin' in current_user.roles %}
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Administration<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                      <li><a href="/admin/">Admin Panel</a></li>
                  </ul>
                </li>
                {% endif %}
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <!-- <li class="active"><a href="./">Settings<span class="sr-only">(current)</span></a></li> -->
                <li class="active"><a href="../navbar-static-top/">Welcome {{ current_user.username }}!</a></li>
                <!-- <li><a href="{{ url_for('logout') }}">Logout</a></li> -->
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <!-- <li class="dropdown-header">.....</li> -->
                    <!-- <li><a href="../navbar-static-top/">Profile</a></li> -->
                    <!-- <li><a href="{{ url_for('change_password') }}">Change Password</a></li> -->
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                  </ul>
                </li>
              </ul>
            </div><!--/.nav-collapse -->
          </div><!--/.container-fluid -->
        </nav>
      {% endblock navbar %}

      <!-- Area for flashed messages -->
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          {{ message }}
        </div>
      {% endfor %}
      {% endif %}
      {% endwith %}

      <!-- content area for graphs, search, register table and related context menus -->
      {% block content %}

      {% endblock content %}

      <!-- footer content area -->
      {% block footer_content %}

      {% endblock %}

      {% block script %}

      {% endblock script %}

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> -->
    <script src="{{ url_for('static', filename='js/ajax.googleapis.com_ajax_libs_jquery_1.12.4_jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.com_docs_3.3_dist_ie10-viewport-bug-workaround.js') }}"></script>
    <script src="{{ url_for('static', filename='js/getbootstrap.com_docs_3.3_assets_js_ie-emulation-modes-warning.js') }}"></script>
    <script src="{{ url_for('static', filename='js/getbootstrap.com_docs_3.3_dist_js_bootstrap.min.js') }}"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <!-- <script src="../../dist/js/bootstrap.min.js"></script> -->
    <!-- For resposinve data tables -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/datatables.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/datatables.min.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap4.min.js"></script>
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs/jszip-2.5.0/dt-1.10.18/b-1.5.2/b-colvis-1.5.2/b-flash-1.5.2/b-html5-1.5.2/b-print-1.5.2/cr-1.5.0/fc-3.2.5/fh-3.1.4/kt-2.4.0/r-2.2.2/rg-1.0.3/rr-1.2.4/sc-1.5.0/sl-1.2.6/datatables.min.js"></script>
    <script>
      $(document).ready(function() {
        $('#example').DataTable( {
          // dom: '<lf<t>ip>',
          dom: 'Bfrtip',
          buttons: ['excel', 'pdf', 'csv'],
          colReorder: true,
          select: true,
          responsive: true
        } );
      } );
    </script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!-- <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script> -->
    <!-- dropdown lists -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/forms.js') }}"></script>
  </body>
</html>