{% extends "base.html" %}
{% block content %}

<p>Details for asset: {{ asset[0]['barcode'] }} </p>
<table style="width:100%">
  <!-- table header -->
  <tr>
     {% for key in asset[0] %}
     <th> {{ key }} </th>
     {% endfor %}
  </tr>

  <!-- table rows -->
  <tr>
     {% for value in asset[0].values() %}
     <td> {{ value }} </td>
     {% endfor %}
  </tr>
<a href="{{ url_for('edit_asset', barcode = asset[0]['barcode']) }}">Edit</a>    <a href="{{ url_for('asset_to_delete', barcode = asset[0]['barcode']) }}">Delete</a>
{% endblock %}