{% extends "new_base.html" %}

{% block title %}
Asset Verification
{% endblock %}

{% block content %}
<p>Scan barcode</p>
<form class="form-horizontal" role="form" method="POST" name="addasset">
    <div class="box-body" id="box-body">
        <!-- Barcode entry -->
        <div class="form-group">
            <label class="col-sm-2 control-label">Barcode</label>
            <div class="col-sm-10">
                <input type="text" class="form-control form-control-sm" name="barcode" required>
                <button class="btn btn-primary" onclick="getBarcode();">Scan Barcode</button>
                <button class="btn btn-primary" type="submit">Verify</button>
            </div>
        </div>
    </div>
</form>
{% endblock %}