{% extends "new_base.html" %}

{% block title %}
{{ asset[0]['Barcode'] }} Details
{% endblock %}

{% block content %}

<p>Details for asset: {{ asset[0]['Barcode'] }}</p>

<table id="example1" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
  <!-- table header -->
  <thead>
    <tr>
     {% for key in asset[0] %}
     <th> {{ key }} </th>
     {% endfor %}
    </tr>
  </thead>
  <!-- table rows -->
  <tbody>
    <tr>
      {% for value in asset[0].values() %}
      <td> {{ value }} </td>
      {% endfor %}
    </tr>
  </tbody>
</table>
<h3><a href="{{ url_for('asset_verification') }}">Next</h3></button>
{% endblock content %}