{% extends "new_base.html" %}

{% block title %}
Asset Register
{% endblock %}

{% block content %}
<table id="example" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
  <!-- table header -->
  <thead>
    <tr>
      {% for key in assets[0] %}
      {% if key not in ['Id', 'Photo', 'Captured Date', 'modified Date', 'Value', 'Supplier', 'Attachements', 'Notes', 'Modified By', 'Captured By', 'Purchase Price'] %}
        <th> {{ key }} </th>
      {% endif %}
      {% endfor %}
    </tr>
  </thead>

  <!-- table rows -->
{% for asset in assets %}
<tbody>
  <tr>
    {% for value in asset.values() %}
    {% if value not in [asset['Id'], asset['Photo'], asset['Captured Date'], asset['modified Date'], asset['Value'], asset['Supplier'], asset['Attachements'], asset['Notes'], asset['Modified By'], asset['Captured By'], asset['Purchase Price']] %}
      <td><a href="{{ url_for('view_single_asset', barcode = asset.Barcode) }}">{{ value }}</a></td>
    {% endif %}
    {% endfor %}
  </tr>
</tbody>
{% endfor %}

</table>
{% endblock %}