{% extends "new_base.html" %}

{% block title %}
Asset Types
{% endblock %}

{% block content %}
<table id="example" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
  <!-- table header -->
  <thead>
    <tr>
      {% for key in types_list[0] %}
      {% if key not in ['Photo'] %}
        <th> {{ key }} </th>
      {% endif %}
      {% endfor %}
    </tr>
  </thead>

  <!-- table rows -->
{% for type in  types_list %}
<tbody>
  <tr>
    {% for value in type.values() %}
    {% if value not in [type['Photo']] %}
      <td><a href="{{ url_for('view_asset_type', type_code = type.type_code) }}">{{ value }}</a></td>
    {% endif %}
    {% endfor %}
  </tr>
</tbody>
{% endfor %}

</table>
{% endblock %}