{% extends "new_base.html" %}

{% block title %}
Asset Statuses
{% endblock %}

{% block content %}
<div class="box-header with-border">
  <h3 class="box-title">Asset Statuses</h3>
</div>
<table id="example" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
  <!-- table header -->
  <thead>
    <tr>
      {% for key in status_list[0] %}
      {% if key not in ['Photo'] %}
        <th> {{ key }} </th>
      {% endif %}
      {% endfor %}
    </tr>
  </thead>

  <!-- table rows -->
<tbody>
{% for status in  status_list %}
  <tr>
    {% for value in status.values() %}
    {% if value not in [status['Photo']] %}
      <td>{{ value }}</td>
    {% endif %}
    {% endfor %}
  </tr>
{% endfor %}
</tbody>

</table>
{% endblock %}