{% extends "new_base.html" %}

{% block title %}
Asset Suppliers Categories
{% endblock %}

{% block content %}
<table id="example" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
  <!-- table header -->
  <thead>
    <tr>
      {% for key in supplierCategories_list[0] %}
      {% if key not in ['Photo'] %}
        <th> {{ key }} </th>
      {% endif %}
      {% endfor %}
    </tr>
  </thead>

  <!-- table rows -->
{% for supplier in  supplierCategories_list %}
<tbody>
  <tr>
    {% for value in supplier.values() %}
    {% if value not in [supplier['Photo']] %}
      <td><a href="{{ url_for('view_single_supplier', supplier_code = supplier.supplier_code) }}">{{ value }}</a></td>
    {% endif %}
    {% endfor %}
  </tr>
</tbody>
{% endfor %}

</table>
{% endblock %}