{% extends "security/layout.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% include "security/_messages.html" %}
{% block page_title %} Change Password {% endblock %}
{% block content %}
  <div class="card card-container">
    <h2>{{ _('Change Password') }}</h2>
    <img id="profile-img" class="profile-img-card" src="{{ url_for('static', filename='images/user.png') }}" />
    <form class="form-signin" action="{{ url_for_security('change_password') }}" method="POST" name="change_password_form">
      {{ change_password_form.hidden_tag() }}
      {{ render_field_with_errors(change_password_form.password, class="form-control") }}
      {{ render_field_with_errors(change_password_form.new_password, class="form-control") }}
      {{ render_field_with_errors(change_password_form.new_password_confirm, class="form-control") }}
      {{ render_field(change_password_form.submit, class="btn btn-lg btn-primary btn-block btn-signin") }}
    </form>
  </div>
{% endblock content %}

