{% extends "admin/master.html" %}

{% block title %}
Add User
{% endblock %}

{% block content %}
<div class="my-3 p-3 bg-white rounded box-shadow">
    <!-- Form Title -->
    <div class="box-header with-border">
        <h3 class="box-title">Add User</h3>
    </div>
    <!-- Form Starts here -->
    <form class="form-horizontal" role="form" method="POST">
        <div class="box-body">
            <!-- Name -->
            <div class="form-group">
                <label class="col-sm-2 control-label">Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control form-control-sm" name="name" required>
                </div>
            </div>
            <!-- Email -->
            <div class="form-group">
                <label class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control form-control-sm" name="email" required>
                </div>
            </div>
            <!-- User Role -->
            <div class="form-group">
                <label class="col-sm-2 control-label">User Role</label>
                <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref" name="role" required>
                    <option selected></option>
                    {% for role in roles_list %}
                    <option value="{{ role }}">{{ role }}</option>
                    {% endfor %}
                </select>
            </div>
            <!-- password -->
            <div class="form-group">
                <label class="col-sm-2 control-label">Password</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control form-control-sm" name="password" required>
                </div>
            </div>
            <!-- Save / Cancel -->
            <div class="box-footer">
                <button type="reset" class="btn btn-outline-secondary">Cancel</button>
                <button type="submit" class="btn btn-outline-primary float-right">Save</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}